body{
    background-color: rgb(145, 205, 255);
}
.h1{
    color: red;
    text-align: center;
    margin-top: -8px;
}
.p1{
 color:blue ;
 text-align: center;
 font-size: 22px;
 
 
}
.p2{
    color: red;
    border: purple solid 1px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 3px 4px 3px 4px;
}
.p3{
    background-color: rgb(252, 170, 255);
    border-top-style: solid;
    border-top-width: 4px;
    border-bottom-style: dashed;
    border-bottom-width: 4px;
    border-right: dotted black 1px;
    border-left: black dotted 1px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 12px 8px 11px;
}
.img{
    padding: 90px 0px 0px 0px;
    margin: 0px 0px 0px 525px;
}